.mainBackground1 {
  background-image: url("https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE");
  background-repeat: no-repeat;
  background-size: auto;
}
