.mainBackground1 {
  /* background-image: url("https://fastly.picsum.photos/id/29/4000/2670.jpg?hmac=rCbRAl24FzrSzwlR5tL-Aqzyu5tX_PA95VJtnUXegGU");
  background-repeat: no-repeat;
  background-size: auto; */
  /* background-color: rgba(38, 111, 145, 0.3); */
  background-color: rgba(230, 244, 255, 1);
}
